# Include config files in the ./config.d directory
include {{ fluentd.config_dir }}/*.conf
<source>
  type                         secure_forward
  self_hostname                {{ fluentd_hostname }}
  shared_key                   {{ fluentd_shared_key }}
  secure                       yes
  ca_cert_path                 {{ fluentd_ca_cert_path }}
  ca_private_key_path          {{ fluentd_ca_private_key_path }}
  ca_private_key_passphrase    {{ fluentd_ca_private_key_passphrase }}
</source>

<match **>
  type copy
  <store>
    type gelf
    host 0.0.0.0
    port 12201
    flush_interval 5s
  </store>
</match>
